@font-face {
    font-family: 'CascadiaCode';
    src: url('CascadiaCode.woff2') format('woff2'),
    src: url('CascadiaCodePL.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
}





/*PHONE*/
@media (min-width:320px) {
  body{font-family: 'CascadiaCode', monospace, sans-serif;
  }

  [id^=div] {
      display:none;}

      h1{font-family: 'CascadiaCode', arial, sans-serif;
padding-left:.5em;
      }

  p{
    padding: 1em;
  }

  .arrow{
    padding-left: 40%;
    padding-bottom: 10%;
  }
  .welcome{
    padding-left: 20%;
    font-size: 1.1vw;
    padding-top: 25%
  }
  .butterfly{
    padding-left: 40%;
    position:inherit;
    z-index: 100;
  }

  .variable{
    padding-left: 5%;
    font-size: 1.6vw;
  }
#window{display:none;}

  #smallwindow{
    display:block;
    position:fixed;
    width:95vw;

  }

  .toc{
    width:70%;
    padding-left: 15%;
    padding-bottom:4em;
  }

  .container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 75vh;
}

  .section1 {
  height:100vh;
  grid-column: 1/4;
  background-color: white;
  padding-left: 1em;
  display:absolute;
  justify-content: space-evenly;
  /* align-items:stretch;} */

}

.section1 div{
  background-image: url("blackwindow-04.png");
  background-size: 100%;
    background-repeat: no-repeat;
  width:75%;
  /* border: 1px solid black; */
  height:50%;
font-size:.8em;
line-height: 1.5;
color:white;
padding: 2em;}


  .section1 img{
    height:50%;}


/*IPAD*/
@media (min-width:801px)   { /* STYLES GO HERE */}



/*DESKTOP*/
@media (min-width:1025px){
    body{font-family: 'CascadiaCode', sans-serif;
    }

    [id^=div] {
        display:none;}

    .butterfly{
      padding-left: 30%;
      position:inherit;
      z-index: 100;
    }

    .arrow{
      padding-left: 50%;
      padding-bottom: 10%;
    }

    .welcome{
      padding-left: 35%;
      font-size: .5vw;
      padding-top: 15%
    }

    .variable{
      padding-left: 20%;
      font-size: 1vw;
    }

    p{
      padding: 5em;
    }

    #smallwindow{
      display:none;}

    #window{
      display:block;
      position:fixed;
      width:98vw;
      }

    }
  }
