@font-face {
    font-family: 'CascadiaCode';
    src: url('CascadiaCode.woff2') format('woff2'),
    src: url('CascadiaCodePL.woff2') format('woff2'),
    font-weight: normal;
    font-style: normal;
}





/*PHONE

 ___ ___   ___   ____   ____  _        ___
|   |   | /   \ |    \ |    || |      /  _]
| _   _ ||     ||  o  ) |  | | |     /  [_
|  \_/  ||  O  ||     | |  | | |___ |    _]
|   |   ||     ||  O  | |  | |     ||   [_
|   |   ||     ||     | |  | |     ||     |
|___|___| \___/ |_____||____||_____||_____|

*/
@media (min-width:320px) {
  body{font-family: 'CascadiaCode', monospace, sans-serif;
  }

  [id^=div] {
      display:none;}

      h1{font-family: 'CascadiaCode', arial, sans-serif;
padding-left:.5em;
      }

  p{
    padding: 1em;
  }

.downarrow{
padding-left:35%;
padding-bottom:1.5em;}

  .arrow{
    padding-left: 40%;
    padding-bottom: 10%;
  }
  .welcome{
    padding-left: 20%;
    font-size: 1.1vw;
    padding-top: 25%
  }
  .butterfly{
    padding-left: 40%;
    position:inherit;
    z-index: 100;
  }

  .variable{
    padding-left: 5%;
    font-size: 1.6vw;
  }
#window{display:none;}

  #smallwindow{
    display:block;
    position:fixed;
    width:95vw;

  }

  .toc{
    width:70%;
    padding-left: 15%;
    padding-bottom:2em;
  }

  .container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 75vh 75vh;
}

  .section1 {
  height:100vh;
  grid-column: 1/4;
  background-color: white;
  padding-left: 1em;
  display:absolute;
  justify-content: space-evenly;
  /* align-items:stretch;} */

}

.section1 div{
  background-image: url("blackwindow-04.png");
  background-size: 100%;
    background-repeat: no-repeat;
  width:75%;
  /* border: 1px solid black; */
  height:50%;
font-size:.8em;
line-height: 1.5;
color:white;
padding: 2em;}


  .section1 img{
    height:50%;}

    .section2 {
    height:100vh;
    grid-column: 1/4;
    background-color: white;
    padding-left: 1em;
    display:absolute;
    justify-content: space-evenly;
    /* align-items:stretch;} */

  }

  .section2 div{
    background-image: url("notepad-03.png");
    background-size: 100%;
      background-repeat: no-repeat;
    width:75%;
    /* border: 1px solid black; */
    height:50%;
  font-size:.8em;
  line-height: 1.5;
  color:black;
  padding: 3em 3em 2em 2em;}


    .section2 img{
      height:50%;}


/*IPAD
 ____  ____   ____  ___
|    ||    \ /    ||   \
 |  | |  o  )  o  ||    \
 |  | |   _/|     ||  D  |
 |  | |  |  |  _  ||     |
 |  | |  |  |  |  ||     |
|____||__|  |__|__||_____|
*/
@media (min-width:801px)   { /* STYLES GO HERE */}



/*DESKTOP

 ___      ___  _____ __  _ ______   ___   ____
|   \    /  _]/ ___/|  |/ ]      | /   \ |    \
|    \  /  [_(   \_ |  ' /|      ||     ||  o  )
|  D  ||    _]\__  ||    \|_|  |_||  O  ||   _/
|     ||   [_ /  \ ||     \ |  |  |     ||  |
|     ||     |\    ||  .  | |  |  |     ||  |
|_____||_____| \___||__|\_| |__|   \___/ |__|

*/
@media (min-width:1025px){
    body{font-family: 'CascadiaCode', monospace, sans-serif;
    cursor:url("Normal Select.cur"), pointer;
    }

    [id^=div] {
        display:none;}

    .butterfly{
      padding-left: 30%;
      position:inherit;
      z-index: 100;
    }

    .arrow{
      padding-left: 50%;
      padding-bottom: 10%;
    }

    .welcome{
      padding-left: 35%;
      font-size: .5vw;
      padding-top: 15%
    }

    .variable{
      padding-left: 20%;
      font-size: 1vw;
    }

    h1{font-family: 'CascadiaCode', arial, sans-serif;
    padding-left:2em;
    }

    p{
      padding: 5em;
    }

    .toc{
      width:30%;
      padding-left: 35%;
      padding-bottom:2em;
    }

    .downarrow{
    padding-left:45%;
    padding-bottom:1.5em;}

    #smallwindow{
      display:none;}

    #window{
      display:block;
      position:fixed;
      width:98vw;
      }

      .container{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 75vh;
    }

      .section1 {
      height:100vh;
      width:30%;
      grid-column: 1/4;
      background-color: white;
      padding-left: 4em;
      display:absolute;
      justify-content: space-evenly;
      /* align-items:stretch;} */

    }

    .section1 div{
      background-image: url("blackwindow-04.png");
      background-size: 100%;
        background-repeat: no-repeat;
      width:100%;
      /* border: 1px solid black; */
      height:50%;
    font-size:1em;
    line-height: 1.5;
    color:white;
    padding: 4em 2em 4em 2em;}


      .section1 img{
        height:100%;}


        .section2 {
        height:100vh;
        width:25%; /*importnat*/
        grid-column: 1/4;
        background-color: white;
        padding-left: 20%;
        display:absolute;
        justify-content: space-evenly;
        /* align-items:stretch;} */

      }

      .section2 div{
        background-image: url("notepad-03.png");
        background-size: 100%; /*importnat*/
          background-repeat: no-repeat;
        width:75%;
        /* border: 1px solid black; */
      font-size:.9em;
      line-height: 1.5;
      color:black;
      padding: 3em 3em 2em 2em;}


        .section2 img{
          height:50%;}

    }
  }
